<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @order.product_name %>
</p>

<p>
  <strong>Count:</strong>
  <%= @order.product_count %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer.first_name%>  <%= @order.customer.last_name %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
