<!DOCTYPE html>
<html>
  <head>
    <title>Validations</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="jumbotron">
      <div class="jumbo-background">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1_ZXPDD3iqW3lkIG2zErNGOZXLKUrFduCqA&usqp=CAU", alt="Validation">
      </div>
      <div class="centered">
        <h1><i class="far fa-address-book"></i> Validations</h1>
      </div>
    </div>
    <% if !flash[:alert].nil? %>
      <p class="my_alert"><%= flash[:alert] %></p>
    <% end %>
    <%= yield %>
    
    <nav class="navbar navbar-expand-sm   navbar-dark bg-primary">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item dropdown dmenu">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Customers
      </a>
      <div class="dropdown-menu sm-menu">
        <%= link_to 'List Customers', customers_path, class: "dropdown-item" %>
        <%= link_to 'New Customer', new_customer_path, class: "dropdown-item" %>
      </div>
    </li>
    <li class="nav-item dropdown dmenu">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Orders
      </a>
      <div class="dropdown-menu sm-menu">
        <%= link_to 'List Orders', orders_path, class: "dropdown-item" %>
        <%= link_to 'New Order', new_order_path, class: "dropdown-item" %>
      </div>
    </li>
    </ul>
    </nav>
  </body>
</html>
